
@{
    Layout = "ContactLayout";
}
<div class="banner">
    <img src="~/css/Screenshot_20240408-232334.png" alt="Banner with table and flowers">
    <div class="banner-text">
        <h2>Let's Chat</h2>
        <p>We want to make this your most memorable event. If you are interested in any of our services, please fill in the contact form below. We'll get in touch quick quick and would love to meet for a coffee to find out what your needs are.</p>
        <a href="#">Fill out the Contact Form</a>
    </div>
</div>


    
    

<div class="business-card">
    <div class="address">
        <span class="material-symbols-outlined">
            <img src="~/css/location_on_FILL0_wght400_GRAD0_opsz24.svg" />
        </span><p>ADDRESS</p>
        
        <p>

            10 Augrabies St, Mooikloof Ridge,<br>
            Pretoria, 0081
        </p>
        <p><a href="#">View Map</a></p>
    </div>
    <div class="contact">

        <span class="material-symbols-outlined">
            <img src="~/css/phone_in_talk_FILL0_wght400_GRAD0_opsz24.svg" />
        </span><p>Phone Numbers</p>
        <p>Decor Hire: +27 83 376 7454</p>
       
    </div>
    <div class="email">
        <span class="material-symbols-outlined">
            <img src="~/css/mail_FILL0_wght400_GRAD0_opsz24.svg" />
        </span><p>EMAIL</p>
       
        <p><a href="mailto:hiring@sitting-pretty.co.za">decorhire@sitting-pretty.co</a></p>
    </div>
    <div class="address">
        <span class="material-symbols-outlined">
            <img src="~/css/location_on_FILL0_wght400_GRAD0_opsz24.svg" />
        </span><p>Business Hours</p>

        <p>Monday - Friday: 8am – 5pm</p>
        <p>June – August: 9am – 4pm</p>
        <p>Saturday & Sunday: Closed</p>
        <p>Public Holidays: Closed</p>
        
      
    </div>
   
</div>
